spring:
  redis:
    host: redis
  application:
    name: cannon
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: cannon
    url: jdbc:mysql://mysql:3306/cannon?characterEncoding=utf8&useSSL=false
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: true
  profiles:
    active: local
  main:
    lazy-initialization: true
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
server:
  port: 8080
cannon:
  jwt:
    anonymousUrls: /v1/login,/graphiql,/graphql,/vendor/**,/v1/menu/**,/actuator/health
