spring:
  application:
    name: cannon
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://127.0.0.1:3305/cannon?characterEncoding=utf8&useSSL=false
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  profiles:
    active: local
  main:
    lazy-initialization: true
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
server:
  port: 8080
cannon:
  jwt:
    anonymousUrls: /v1/login